page-show {

  .commenttitle{ font-size: 12px;}
  ion-note{  display: block;}
  .note{ float: none;font-size: 12px; text-align: right;}


  .scrollcontents {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    max-height: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

}
