<ion-header>


  <ion-navbar>
    <ion-title>
      {{showinfos.title}}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="favorite_save()">
        <ion-icon name="ios-star-outline" *ngIf="!is_favorite"></ion-icon>
        <ion-icon name="star"  *ngIf="is_favorite"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  </ion-header>

<ion-content >


  <ion-row >
    <ion-col>
      <video   controls="controls"  autoplay="autoplay" width="100%" height="100%">
        <source src="{{default_video}}" type="video/mp4">
        <!--<source src="http://guanfumaster.com/appapi/blg.mp4" type="video/mp4">-->
      </video>
    </ion-col>

  </ion-row>


  <ion-row >
  <!-- Segment in a header -->

    <ion-segment [(ngModel)]="relationship" color="primary">
      <ion-segment-button value="jianjie">
        简介
      </ion-segment-button>
      <ion-segment-button value="list" >
        节目列表
      </ion-segment-button>
      <ion-segment-button value="commont">
        评论
      </ion-segment-button>
    </ion-segment>

  </ion-row>


    <ion-row >
    <div [ngSwitch]="relationship" style="width: 100%;">

      <ion-list *ngSwitchDefault>
          <ion-item>
        分类：  {{showinfos.groups}}
          </ion-item>
        <ion-item>


          <div item-content>
            <ion-label>
              简介：
            </ion-label>
            {{showinfos.description}}
          </div>
        </ion-item>



      </ion-list>



      <ion-list *ngSwitchCase="'list'"  >
          <ion-item *ngFor="let v of videolist">
            <a (click)="openthisvideo(v.url.play)">{{v.name}}</a>
          </ion-item>
      </ion-list>



      <ion-list *ngSwitchCase="'commont'">




          <ion-item *ngFor="let comment of comment_infos">
            <ion-avatar item-left>
              <img src="{{comment.photo}}">
            </ion-avatar>
            <h2 class="commenttitle">{{comment.name}}</h2>
            <p style="white-space:normal;">{{comment.comment}}</p>
            <div class="note">{{comment.time}}</div>
          </ion-item>


      </ion-list>
    </div>




  </ion-row>



</ion-content>
