blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
html,body{
	height: 100%;
	box-sizing: border-box;
	margin: auto;
}
table{border-collapse:collapse;border-spacing:0}
abbr,acronym,fieldset,img{border:0}
ol,ul{list-style:none}
caption,th{text-align:left}
q:after,q:before{content:''}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.col-c,.col-l,.col_c,.col_l,.l{float:left}
.col-r,.col_r,.r,.ul-txt li span,.ul_txt li span,dt span{float:right}
.c{clear:both}
.n,em{font-weight:400;font-style:normal}
.b{font-weight:700}
.i{font-style:italic}
.fa{font-family:Arial}
.fg{font-family:Georgia}
.ft{font-family:Tahoma}
.fl{font-family:Lucida Console}
.fs{font-family:'宋体'}
.fw{font-family:'微软雅黑'}
.tc{text-align:center}
.tr{text-align:right}
.tl{text-align:left}
.tdu{text-decoration:underline}
.tdn,.tdn:hover,a.tdl:hover{text-decoration:none}
.fc0{color:#000}
.fc3{color:#333}
.fc6{color:#666}
.fc9{color:#999}
.fcr{color:red}
.fcw{color:#fff}
.fcb{color:#00f}
.fcg{color:green}
.f0{font-size:0}
.f10{font-size:10px}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.f24{font-size:24px}
.vm{vertical-align:middle}
.vtb{vertical-align:text-bottom}
.vt{vertical-align:top}
.vn{vertical-align:-2px}
.vimg{margin-bottom:-3px}
.m0{margin:0}
.ml0{margin-left:0}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.mr0{margin-right:0}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt40{margin-top:40px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.ml-1{margin-left:-1px}
.mt-1{margin-top:-1px}
.p1{padding:1px}
.pl5{padding-left:5px}
.p5{padding:5px}
.pt5{padding-top:5px}
.pr5{padding-right:5px}
.pb5{padding-bottom:5px}
.p10{padding:10px}
.pl10{padding-left:10px}
.pt10{padding-top:10px}
.pr10{padding-right:10px}
.pb10{padding-bottom:10px}
.p20{padding:20px}
.pl20{padding-left:20px}
.pt20{padding-top:20px}
.pr20{padding-right:20px}
.pb20{padding-bottom:20px}
.pr,.rel{position:relative}
.abs,.pa{position:absolute}
.dn{display:none}
.db{display:block}
.dib{-moz-inline-stack:inline-block;display:inline-block}
.di{display:inline}
.ovh{overflow:hidden}
.ovs{overflow:scroll}
.vh{visibility:hidden}
.vv{visibility:visible}
.lh14{line-height:14px}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.fix{*zoom:1}
.fix:after,.fix:before{display:block;content:"clear";height:0;clear:both;overflow:hidden;visibility:hidden}
.z{_zoom:1}
.h1{height:1px}
.h5{height:5px}
.h,.h10{height:10px}
.h15{height:15px}
.h20{height:20px}
.h,.h1,.h10,.h15,.h20,.h5{font-size:0;line-height:0;overflow:hidden;clear:both}
body{font:12px/1.5 "songti";font-family: "songti"; color:#444;background-color:#f2f2f2;overflow-x:hidden;overflow-y:auto;}
/* padding-top:60px */
a{text-decoration:none;color:#444;-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s}
a:hover{color:#f60}
img{max-width:100%;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
input,select,textarea{font-size:12px;color:#444;font-family:"微软雅黑","Microsoft Yahei";outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
input[type=button],input[type=reset],input[type=submit],select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
input[type=button],input[type=reset],input[type=submit]{cursor:pointer}
::-webkit-input-placeholder{color:#ccc}
::-moz-placeholder{color:#ccc}
::-ms-input-placeholder{color:#ccc}
select::-ms-expand{display:none}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none}
.ani{transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.wp{width:75%;max-width:1200px;margin:0 auto}
.h50{height:50px;clear:both;overflow:hidden}
.h100{height:100px;clear:both;overflow:hidden}
*{outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
.bd1{background-color:#fff}
.header{background-color:#377855;position:fixed;top:0;left:0;right:0;z-index:10}
.header:after{content:'';display:block;clear:both;visibility:hidden;width:100%;height:0}
.menuBtn{width:30px;cursor:pointer;position:absolute;left:10px;top:50%;z-index:9;padding-top:4px;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);display:none;padding-top: 8px;}
.menuBtn b{display:block;height:3px;background-color:#fff;margin-bottom:5px;border-radius:2px;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s}
.menuBtn.open b{display:none;margin:0;position:absolute;left:0;top:50%;width:30px}
.menuBtn.open b:first-child{display:block;transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg)}
.menuBtn.open b:last-child{display:block;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg)}
.nav {float: left;}
.nav li {float: left; line-height: 34px; width: 115px;}
.nav li a {color: #fff; font-size: 15px; display: block;}
.nav li:hover a {cursor: pointer;}
.hd-r {
	float: right;
}
.sobox {display: flex;justify-content: space-between; line-height: 34px;}
.sobox a { color: #fff; font-size: 15px; }
.sobox span { color: #fff; font-size: 15px; margin: 0 10px;} 
/* 底部 */
.footer {padding-top: 24px;padding-bottom: 37px;background-color:#377855;text-align: center;
}
.footer p {font-size: 14px; color: #fff;}
.fd-copy {margin-top: 5px;}

/* 首页 */
.homes {background: url(../images/bg.png) top center no-repeat; background-size: cover; height: 100%;}
.logoView {
	margin-top: 27px; position: relative;
}
.titleView {text-align: center; margin-top: 30px;}
.logoView2 {margin-bottom: 37px;}
.logoView2 .logo {
	position: absolute; left: 0;top: 50%; transform: translateY(-50%);
}
.searchTab {margin-left: 130px;}
.searchTab .item {float: left;padding: 0 25px; font-size: 20px; color: #000; margin-top: 40x; line-height: 40px; position: relative;}
.searchTab .item .icon {position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); display: none;}
.searchTab .item:last-child::after {
	display: block;content: '';position: absolute;left: 0;top: 50%;transform: translateY(-50%);height: 20px; width: 1px; background-color: #000;
}
.searchTab .item:hover {cursor: pointer;}
.searchTab .item.active {
	 color: #075129;
}
.searchTab .item.active .icon {display: block;}
.search_cv {height: 90px;background: #FFFFFF;border: 2px solid #3C805A;border-radius: 44px; box-shadow: 0 0 20px #ddd; width: 82%; margin: auto;margin-top: 10px; padding-left: 44px; padding-right: 20px; display: flex; justify-content: space-between; align-items: center;}
.search_lv {flex: 1;}
.inputView {width: 100%; position: relative; padding-left: 28px; border-bottom: 1px solid #ddd;}
.inputView img {position: absolute;left: 0; top: 50%; transform: translateY(-50%); width: 21px;}
.inputView .el-autocomplete {width: 100%; }
.inputView input {border: none; font-size: 16px; padding: 0; color: #075129;}
.search_cv .btn {width: 100px; height: 45px; line-height: 45px; padding: 0; text-align: center; border-top-right-radius: 22px; border-bottom-right-radius: 22px; background-color: #3C805A; color: #fff; font-size: 20px;} 
.search_cv .btn:hover , .search_cv .btn:focus {background-color: #3C805A; color: #fff; font-weight: normal;}
.word_tj {margin-top: 8px;font-size: 13px;color: #9A9A9A;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.word_tj span {display: inline-block; color: #9A9A9A; margin-right: 10px;}
.word_tj span:hover {color: #075129; cursor: pointer;}
.conteView {background-color: #fff; border-radius: 10px; padding: 48px 20px 30px 28px; margin-top: 65px; margin-bottom: 30px;}
.conte_cv {
	display: flex;justify-content: space-between;
}
.conte_lv {flex: 1;margin-right: 50px; max-width: 65%;}
.title_tv {display: flex;justify-content: space-between; align-items: center;}
.title_lt {flex: 1; display: flex;justify-content: space-between; align-items: center;}
.title_tv .more {font-size: 14px; color: #2A744C; margin-left: 16px;}
.title_lt .title {font-size: 20px; color: #000000; padding: 0 10px;}
.line_bg {position: relative; height: 17px; border-left: 2px solid #ddd; flex: 1;}
.line_bg::after {
	display: block;content: '';position: absolute;left: 0;top: 50%;height: 2px; width: 100%; transform: translateY(-50%); background-color: #ddd;
}
.listView  {padding-left: 30px; margin-bottom: 20px;}
.listView .item {padding: 20px 0;border-bottom: 1px #D3D3D3 dashed;display: flex;justify-content: space-between; align-items: center;}
.listView .item:last-child {border-bottom: none;}
.listView .item .name {font-size: 14px; color: #E08505; margin-right: 20x;}
.item_rv {flex: 1;}
.item_rv .tt {width: 16.666666%; float: left; text-align: center; color: 14px; color: #000; padding: 5px 0; overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.item_rv .tt span {line-height: 22px; min-width: 52px; padding: 0 10px; border-radius: 11px;  overflow: hidden;text-overflow:ellipsis;white-space: nowrap; display: inline;}
.item_rv .tt span:hover {background-color: #2A744C; color: #fff;}
.item_rv .iconDown i{line-height: 22px; padding: 0 14px; border-radius: 11px; display: inline-block; background-color: #EEEEEE;}
.banner {margin-top:28px; width: 100%;overflow: hidden;}
.carouselView .el-carousel__container{height: 180px;}
/* .carouselView .el-carousel__item {width: 20%;}
.carouselView .item {width: 20%;} */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: url(../images/icon_prev.png); left: 0; width: 35px;background-size: cover;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: url(../images/icon_next.png); right: 0;width: 35px;
	background-size: cover;
}

.conte_rv {
	width: 356px;
}
.newsList {margin-top: 16px; margin-bottom: 30px;}
.newsList .item {display: flex; justify-content: space-between; align-items: center; font-size: 14px; color: #000; margin-bottom: 10px;}
.newsList .item .tt {flex: 1;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.newsList .item span {margin-right: 6px;}
.newsList .item:hover {color: #04813D; cursor: pointer;}
.paimList {margin-top: 20px; margin-bottom: 30px;}
.paimList .item {display: flex; justify-content: space-between; align-items: center; font-size: 14px; margin-bottom: 12px;}
.paimList .item .tt {flex: 1; font-size: 14px; color: #000;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.paimList .item span {width: 22px; height: 22px; line-height: 22px; border-radius: 11px; color: #fff; font-size: 12px; background-color: #BDE1CE; text-align: center; margin-right: 10px;}
.paimList .item:hover {cursor: pointer;}
.paimList .item:hover .tt {color: #04813D;}
.paimList .item .t1 {background-color: #D69E4D;}
.selectView {margin-top: 20px;}
.selectView .el-select {width: 100%; margin-bottom: 13px; height: 30px; font-size: 13px;}
.selectView .el-input__inner {height: 30px; line-height: 30px;}
.selectView .el-input__icon {line-height: 30px;}
.openView {margin-top: 15px; height:50px; border-radius: 10px; background-color:#E7E7E7;padding: 0 10px; display: flex; justify-content: space-between; align-items: center;}
.openView .name {font-size: 20px; color: #000; flex: 1;}
.openView img {margin-right: 10px;}

/* 本库动态 */
.bread_cv {margin-top: 42px; font-size: 14px; margin-bottom: 12px; color: #4B4B4B; position: relative; padding-left: 35px; }  
.conteViews {background-color: #fff; border-radius: 10px; padding: 40px 30px;margin-bottom: 30px;}
.bread_cv .icon {position: absolute; left: 10px; top: 50%; transform: translateY(-50%);}
.title_hv {display: flex; justify-content: space-between; align-items: center;}
.title_hv .title {font-size: 22px; color: #000; padding: 0 20px;}
.line_l {display: flex;flex: 1;  justify-content: space-between; align-items: center;}
.line_l .line {flex: 1; height: 2px; background-color: #C0C0C0;}
.list_dt {margin-top: 45px; margin-bottom: 30px;}
.list_dt .item {display: flex; justify-content: space-between; align-items: center; font-size: 14px; color: #000;  padding: 15px 0; border-bottom: 1px #D3D3D3 dashed;}
.list_dt .item span {margin-right: 6px;}
.list_dt .item:hover {color: #04813D; background-color:#E7E7E7;}
.pageView {text-align: center; display: flex; justify-content: center; align-items: center;}
.pageView .el-pagination {display: inline-block;}
.pageView .el-pagination.is-background .el-pager li:not(.disabled).active {background-color: #008000;}
.pageView .my-btn {display: inline-block;font-size: 13px;min-width: 35.5px;height: 28px;line-height: 28px;vertical-align: top;box-sizing: border-box;background-color: #f4f4f5; padding: 0; border-radius: 0; border: none;}

/* 教材导航 */
.listView2 {padding: 0 10px;}
.listView2 .item {border-radius: 10px; border-bottom: none;}
.listView2 .item_rv .tt {width: 11.111111%;}
.listView2 .item:nth-child(2n) {background-color: #EFF4F1;}
.listView2 .item .name {padding: 0 20px;}
.listView2 .item .name i {color: #3C805A; font-size: 12px; font-weight: bold;}

/* 关于本库 */
.conte_tv {margin-top: 34px; text-align: center;}
.conte_tv .title {font-size: 30px;color: #317B53; text-align: center; margin-bottom: 20px;}
.conte_tv img {margin: auto; margin-bottom: 30px;}
.conte_tv p {font-size:16px; color: #000; text-align: left; text-indent: 32px; line-height: 32px;}

/* 使用排行 */
.rankList {
	padding: 0 20px;
	margin-bottom: 44px;
}
.rankList .item {padding-top: 15px;}
.item_cv {padding: 20px 0; display: flex; justify-content: space-between;}
.item_cv .imgView {width: 170px; position: relative;}
.item_cv .imgView .img {width: 100%; display: block;}
.item_cv .imgView .icon {position: absolute; left: 0; top: 0;}
.item_inv {flex: 1; margin-left: 37px;}
.info_tv {display: flex; justify-content: flex-start; line-height: 34px;}
.info_tv .name {width: 70px; margin-right: 8px; font-size: 15px; color: #888;}
.info_tv .tt {font-size: 15px; color: #000;}
.info_tv .h2 {font-size: 18px; color: #E08605;}
.info_tv .t2 {color: #3C805A;}
.item_ttv {display: flex; justify-content: space-between; }
.item_ttv .info_tv {width: 50%;}
.info_tv img {width: 13px; height: 21px; margin-left: 5px;}
.info_tvh {align-items: center;}
.line_ibg {width: 100%;}
.info_tvb .tt {flex: 1; line-height: normal;}

/* 经典展示 */
.classic_hv {font-size: 20px; color: #000; padding-bottom: 12px; border-bottom: 2px solid #ABABAB; text-align: center;}
.classic_row {padding-top: 10px; border-bottom: 1px solid #ABABAB; padding-bottom: 15px;margin-bottom: 20px;}
.classic_row .item {width: 25%; float: left; text-align: center;}
.item_c4 {padding: 15px 20px; padding-bottom: 0; border-radius: 5px; transition: 0.5s all;} 
.item_c4 img {display: block;width: 100%;}
.item_c4 .name {line-height: 40px; font-size: 15px; color: #000;overflow: hidden;
text-overflow:ellipsis;white-space: nowrap;}
.item_c4:hover {background-color: #E0F1E8; transition: 0.5s all;}

/* 二级检索 */
.retrievalView {
	background-color: #fff;
	border-radius: 10px;
	padding: 40px 25px;
	margin-bottom: 30px;
}
.retrieval_lv {
	width: 200px;
	margin-right: 40px;
}
.retrieval_rv {flex: 1;}
.title_lh2 {font-size: 20px; color: #000;}
.title_lh4 {font-size: 16px; color: #000; background-color: #C7E4D4; line-height: 25px; padding: 0 10px; overflow: hidden;text-overflow:ellipsis;white-space: nowrap; margin-top: 15px;}
.div_tv {line-height: 30px;}
.div_tv .item {padding:0 10px;}
.item_iv {display: flex; justify-content: space-between;align-items: center;font-size: 14px; color: #000;}
.item_iv:hover {cursor: pointer;}
.item_mune .div_mu {font-size: 12px; color: #000; line-height: 34px; padding-left: 10px;}
.item_mune .div_mu span {color: #000; font-weight: bolder;font-size: 20px; float: left;}
.item_mune .div_mu:hover {color: #0A9F4E;}
.timeList {line-height: 30px;font-size: 14px; padding: 0 10px;}
.div_tv .el-range-editor.el-input__inner {
	padding: 0;display: flex;justify-content: space-between; align-items: center; border: none;
}
.div_tv i {display: none;}
.div_tv .el-date-editor .el-range-separator {
	height: auto; line-height: normal;
}
.div_tv2 {display: flex;justify-content: space-between; align-items: center; font-size: 14px; padding: 0 10px;}
.div_tv .el-input__inner {padding: 0 !important; flex: 1; text-align: center; height: 20px;}
.btnView {padding: 0 16px;margin-top: 10px;}
.el-button.btns {width: 100%; padding: 0; border-radius: 0; line-height: 20px; line-height: 20px; background-color: #DCDCDC; font-size: 14px; color: #000;border: 1px solid #A0A0A0; }
.pageView_hv {text-align: right; justify-content: space-between; margin-top: 10px;}
.title_pv {line-height: 28px; font-size: 16px;}
.title_pv .title {float: left;}
.title_pv span {color: #888888; padding: 0 10px; border-right: 1px solid #ddd;}
.title_pv span:last-child {border-right: 0;}
.title_pv span:hover,.title_pv span.active {color: #E08504; cursor: pointer;}
.retrievalList {padding: 0; margin-top: 15px;}
.retrievalList .item {border-bottom: 1px solid #DCDCDC; padding: 20px;}
.retrievalList .item_cv {padding: 0;}
.retrievalList .item:hover {background-color: #F3F5F4;}

/* 二级检索 */
.retrievalList2 {padding: 0 38px;}
.info_tv .tt span {margin-right: 10px;}
.info_tvh2 .h2 {font-size: 22px;color: #E08605;}
.conte_ml {width: 90%; margin: auto; margin-top: 10px;}
.title_rev {font-size: 20px; line-height: 40px; margin-top: 30px; border-bottom: 1px solid #B5B5B5;}
.copies_row {
	margin-top: 10px; display: flex;justify-content: flex-start;
}
.copies_row .item {width: 110px;height: 42px;background: #CAEBD9; margin-right: 8px; display: flex; align-items: center; padding: 0 10px;}
.copies_row .item .name {width: 100%;font-size: 14px; color: #000;text-align: center;}
.page_cv {display: none;}
.copies_row .item:hover , .copies_row .item.active {background-color: #63C48F;border: 2px solid #2F7B52;}
.copies_row .item:hover .name , .copies_row .item.active .name {display: none;}
.copies_row .item:hover .page_cv , .copies_row .item.active .page_cv {display: block;}
.page_cv {color: 13px; color: #fff;}
.describe {padding-top: 10px; font-size: 14px; color: #000;}
.el-table tr:hover {background-color: #E7EEEA;}
.el-table td, .el-table th.is-leaf {border-bottom: 1px dashed #EBEEF5 !important;}
.el-table .warning-row {background: #E7EEEA; }
.el-table .success-row {background: #E7EEEA;}
.item_inv .info_tv .name {width: 80px;}
.ptn {color: #3b7f5a;}



@media only screen and (max-width:1920px){
	.banner .item{height:17.70833vw}
	.ban{height:13.541667vw}
	.ban .txt h3{font-size:2.395833vw}
	.m-mess .tp h3,.m-win .top h3{font-size:2.6041667vw}
	.g-imgtxtl .top .tit,.m-aboutl .txt .tit{font-size:1.770833vw}
	.m-not-foundl .txt{font-size:1.979166vw}
	.ul-listl4 .con{font-size:1.5625vw}
}
@media only screen and (max-width:1780px){
	.fright{right:10px}
}
@media only screen and (max-width:1440px){
	.wp{width:auto;max-width:1180px}
	.footer{padding:20px 0}
	.fd-ma{margin-top:0}
	.fd-copy{margin-top:20px}

}
@media only screen and (max-width:1280px){
	.fright{display:none}
}
@media only screen and (max-width:1199px){
	.wp{max-width:none;padding:0 10px;}
	.header .logo{margin-left:44px}
	.menuBtn{display:block;height: 100%;}
	/* top:60px; */
	.nav{position:fixed;top:34px;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.8);margin-left:0;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s}
	.nav.open{-webkit-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
	.nav .cont{width:50%;background-color:#000;position:absolute;top:0;left:0;bottom:0;overflow-y:auto;padding:10px 0}
	.nav ul{margin-bottom:20px}
	.nav li{float:none;margin:0;width: 100%;}
	.nav li .v1{line-height:40px;padding:0 20px;color:#fff}
	.nav li.on .v1,.nav li:hover .v1{color:#fff}
	.nav dl{position:static;background:0 0;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;width:auto;margin-left:0;padding:5px 0}
	.nav dl:after{display:none}
	.nav dd{margin-bottom:0}
	.nav dd a{line-height:35px;font-size:12px;color:#fff;text-align:left;padding:0 40px}
	.nav dd:hover a{background:0 0;color:red}
	.header .user{display:none;float:none;margin:0 20px}
	.nav .user{display:block;padding-bottom:0}
	.header .user .pic{width:auto;border-radius:0;background:0 0}
	.header .user .pic a{width:30px;float:left;margin-right:10px;border-radius:50%;-webkit-background-size:cover;-moz-background-size:cover;-ms-background-size:cover;-o-background-size:cover;background-size:cover}
	.header .user .pic em{font-size:14px;color:#fff;line-height:30px}
	.header .user .box{position:static;width:auto;background:0 0;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;border-radius:0}
	.header .user .box h3,.header .user .box:after{display:none}
	.header .user .box dl{display:block!important;border-bottom:none;padding:0 40px}
	.header .user .box dd a{text-align:left;color:#fff;line-height:35px;padding:0}
	.header .user .box dd:hover a{background:0 0;color:red}
	.header .user .box .sign{margin:0;text-align:left;line-height:40px;color:#fff;padding:0 40px}
}
@media only screen and (max-width:998px){
	.conte_lv {margin-right: 0; max-width: -webkit-fill-available;}	
	.conte_rv {display: none;}
	.search_lv {max-width: 85%;}
	.word_tj {overflow: hidden;text-overflow:ellipsis;white-space: nowrap; max-width: 85%;}
	.searchTab {margin-left: 0;}
	.logoView2 .logo {position: relative;}
	.search_cv {width: 100%;}
	.listView2 .item_rv .tt {width: 16.666666%;}
	.pageView_hv .el-pagination {display: none;}
	.retrievalList2 {padding: 0 15px;}
	.item_cv {padding: 10px 0;}
	.conte_cv {display: block;}
	.retrieval_lv {margin-right: 0; width: 100%;}
	.div_tv {display: none;}
	.div_tv.active {display: block;}
	.timeList {display: none;}
	.timeList.active {display: block;} 
	.btnView {display: none;}
	.btnView.active {display: block;} 
	.retrieval_rv{display: block;margin-top: 15px;}
}
@media only screen and (max-width:767px){
	body{padding-top:34px}
	/* .header .logo{height:50px;line-height:50px} */
	.nav{top:34px}
	.nav .cont{width:68%}
	.bodyView {padding-top: 0 !important;	}
	.header .mess .box{width:280px}
	.fd-ma .pic{width:70px;height:70px}
	.fd-logo{width:90px}
	.banner .slick-next,.banner .slick-prev{width:40px;height:40px;margin-top:-20px}
	.banner .slick-prev{left:10px}
	.banner .slick-next{right:10px}
	.titleView img {max-width: 60%;}
	.logoView {margin-top: 15px;}
	.logoView img {width: 160px;}
	.logoView .titleView img {width: 60%;}
	.titleView {margin-top: 15px;}
	.searchView {margin-top: 15px;}
	.searchTab .item {font-size: 14px; line-height: 30px;}
	.search_cv {width: 100%;}
	.search_cv .btn {font-size: 16px;}
	.conteView {margin-top: 15px; padding: 15px;}
	.title_lt .title {font-size: 18px;}
	.listView {padding-left: 0;}
	.listView .item {padding: 10px 0;}
	.item_rv .tt {width: 20%;}
	.banner {margin-top: 0;}
	.searchTab .item {padding: 0 10px;}
	.listView2 .item_rv .tt {width: 20%;}
	.conteViews {padding: 15px;}
	.listView2 .item .name {padding: 0 10px;}
	.logoView2 {margin-bottom: 10px;}
	.bread_cv {margin-top: 20px;}
	.classic_row .item {width: 50%;}
	.item_c4 .name {font-size: 12px;}
	.list_dt {margin-top: 15px;}
	.rankList {padding: 0;}
	.item_cv {padding: 0; display: block;}
	.item_cv .imgView {width: 100%;}
	.item_inv {margin-left: 0; width: 100%;}
	.item_ttv {display: block;}
	.item_ttv .info_tv {width: 100%;}
	.conte_tv {margin-top: 15px;}
	.conte_tv .title {font-size: 18px;}
	.retrievalView {padding: 20px 15px;}
	.info_tvh2 .h2 {font-size: 16px;}
}
@media only screen and (max-width:479px){

}