<ion-header>
  <ion-navbar>
    <ion-title>观复资源平台</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="home">



  <ion-row >
    <ion-col>
      <ion-slides [pager]="true">
        <ion-slide  *ngFor="let slideitem of slideimages">
          <img [src]="slideitem.picurl | safe" >
        </ion-slide>

      </ion-slides>
    </ion-col>

  </ion-row>

  <ion-row  class="image-row"  *ngFor="let categoryitem of category">
  <ion-item-divider light class="sub-title">
    <h1  item-left>{{categoryitem.name}}</h1>
    <button ion-button item-right (click)="openList(categoryitem.catid)">更多</button>
  </ion-item-divider>

  <ion-col col-4 class="online-read"   *ngFor="let showitem of categoryitem.result">
    <ion-card (click)="openShow(showitem.catid,showitem.id)">
      <button ion-item>
        <img [src]="showitem.thumb | safe"/>
        <div class="card-title card-title-above">{{showitem.title}}</div>
      </button>
    </ion-card>
  </ion-col>

  </ion-row>




</ion-content>
